<link rel="stylesheet" href="/styles/nav2.css" type="text/css">



<div>
    <div class="header-purple">
        <nav class="navbar fixed-top navbar-dark navbar-expand-md navigation-clean-search">
            <div class="container">
                <img class="navimg" src="/images/navimg.png" alt="">
               
                <a class="navbar-brand" href="/">BE FOUND</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span
                        class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/profile/newsfeed">Home</a></li>
                        <% if (user) { %>
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="/search"><i class="fa fa-search"></i> Search</a></li>
                        <% } %> 
                    </ul>
                    <form class="form-inline mr-auto" target="_self">
                        <div class="form-group"><label for="search-field"></label><input
                                class="form-control search-field" type="search" name="search" id="search-field" disabled></div>
                    </form>
                    <% if (user) { %>
                        <a href="/chat/<%= user._id %>  ">
                        <i class="fa fa-envelope-o" style="font-size:25px;color:#4e2cca; margin-right: 20px;"></i>
                    </a> 
                        <a href="/profile/newsfeed">
                            <% if (user.displayPicture == '{}') {%> 
                            <img class="navimg" src="/images/defaultDp.png"  alt="" style="border-radius: 50%;">
                            
                            <% }else{ %> 
                          
                            <img class="navimg" src="<%= user.displayPicture.image %>" alt="altt" style="border-radius: 50%; object-fit: cover;">
                            <% } %> 
                        </a>
                        <ul class="nav navbar-nav">
                        <li class="dropdown px-2" ><a class="dropdown-toggle dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false" style="text-decoration: none; color: white; text-transform: capitalize;cursor:pointer;"><%= user.username %></a>
                        <div class="dropdown-menu" role="menu">
                            <a class="dropdown-item" role="presentation" href="/userProfile/editProfile">Edit Profile</a>
                            <a class="dropdown-item" role="presentation" href="/logout">Logout</a>
                        </div>
                    </li>
                </ul>
                

                        <!-- <a
                        class="btn btn-light action-button" role="button" href="/logout">Logout</a> -->
                                    <% } else{%>
                                        <span class="navbar-text"> <a href="/login" class="login">Log In</a></span><a
                                            class="btn btn-light action-button" role="button" href="/register">Sign
                                            Up</a>
                                        <% } %>
                </div>
            </div>
        </nav>
    </div>
</div>
</div>