<link rel="stylesheet" href="/styles/section1.css" type="text/css">


<section class="banner-sec">
    <div class="row" style="display: flex;">
        <div class="col imageanimate1"  style="padding-top: 150px;color: hsl(208, 100%, 97%);">
            <h1 style="color: aliceblue;font-size: 70px;">Vocal For Local !!</h1>
            <h1>

            </h1>
            <h2>Everything you need to start your own business...</h2>
        </div>
</div >

    <!-- <img class="img2 imageanimate2" style="display: flexbox; top: 550px;" src="images/aimg2.png" alt=""> -->
</section>