<link rel="stylesheet" href="/styles/section1.css" type="text/css">


<section class="banner-section">
    <div class="row" style="display: flex;">
        <div class="col text-center">
            <%-include('section1side')  %>
        </div>
        <div class="col text-center imageanimate1" >
            <img class="img1 col" src="/images/aimg1.png" alt="">
        </div>
</div >

    <img class="img2 imageanimate2" style="display: flexbox; top: 550px;" src="images/aimg2.png" alt="">
</section>