<!--template for home page-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Mali:wght@500&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/home.css" type="text/css">
</head>

<body>
  <%- include ('indexPartials/nav2') %>
            



  <!---------------------------->

  <div class="register__body">
    <div class="container-fluid">
       
        <div class="row" id="chat-botCard">

             <!---importing msgs column-->
        <div style="width:250px;  position:fixed; top:12%; right:0;z-index:2" >
            <%- include ('partials/messages') %> 
        </div>

        
            <div class="col-12 col-lg-6 col-md-12 col-sm-12"
                style="padding-top: 5px; padding-bottom: 5px; background-color:rgb(255, 255, 255);">

                <!----register form-->
                <div class="bg" id="col1">
                    </br>
                    <h3 class="text-center mb-3">
                        <i class="fas fa-user-plus"></i> Project Details
                    </h3>
                    <div class="signup-form" style="overflow: auto;">

                        <form action="/project/createProject" method="POST"
                                                                    enctype="multipart/form-data">

                      

                                <!--username-->
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" id="name"
                                        name="name" placeholder="Name"/>
                                </div>

                                <!--email-->
                                <div class="form-group">
                                    <input type="email" class="form-control input-lg" id="email" name="email"
                                        placeholder="Email Address"
                                        value="<%= typeof email != 'undefined' ? email : user.email %>"
                                        readonly />
                                </div>

                                </br>
                                <hr style="width:50%; background-color:rgb(114, 15, 180)">
                                </hr>

                                <div class="form-group">
                                    <input type="aadhar" class="form-control input-lg" id="aadhar" name="aadhar"
                                        placeholder="Aadhar Card Number"
                                        
                                        />
                                </div>

                                <div class="form-group">
                                    <input type="PAN" class="form-control input-lg" id="pan" name="pan"
                                        placeholder="PAN (Permanent Account Number)"
                                        
                                        />
                                </div>

                                <div class="form-group">
                                    <input type="website" class="form-control input-lg" id="website" name="website"
                                        placeholder="website"
                                        
                                        />
                                </div>

                                <!----Add Bio-->
                                <div class="form-group">
                                    <label for="bio">Bio</label>
                                    <textarea class="form-control ta editor" id="bio" rows="6"
                                        placeholder=" " name="bio"
                                        ></textarea>
                                </div>

                                

                                <div class="custom-file">
                                    <h6>Upload your Display Picture</h6>
                                    <input type="file" data-file_types="jpg|jpeg|png" class="custom-file-input"
                                        id="file" name="file" onchange="readSingleFile(this.files)">
                                    <label class="custom-file-label" id="file-label" style="border-radius:10px;"
                                        for="file">Choose
                                        profile picture</label>
                                </div>


                                <div class="form-group">
                                    <button type="submit"
                                        class="btn btn-primary btn-lg btn-block signup-btn">Submit</button>
                                </div>
                        </form>


                    </div>

                </div>


            </div>

            
            <div class="col-12 col-lg-6 col-md-12 col-sm-12"
            style="padding-top: 5px; padding-bottom: 5px; background-color:rgb(255, 234, 255);">


            <div class="bg" id="col1">
                </br>
            

            </div>


        </div>
  <!-------------------------------------->
        <div>
          <%- include ('partials/footer') %>
        </div>

</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</html>