.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    
}
.side_title{
    color:#fff;
    text-align: center;
    
  font-weight: bold;
    
}