body{
    margin-top:20px;
    background:#fffefe;
}
.order-card {
    color:  hsl(276, 84%, 36%);
    font-size: larger;
    font-weight: 700;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2_card {
    border-radius: 5px;
    border: none;
    
}


.section2_card .card-block {
    padding: 25px;
}



